body {
    background-color: grey;
}

h1 {
    text-Align: center;
}





.gamestate-frame {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}

.side-frame {
    display: flex;
    flex-direction: column;
    width: 35%; /* adjust as needed */
}
.side-frame:nth-child(2) {
    margin-left: auto;
}

.active-frame {
    height: 200px;
    background-color: lightblue;
    margin-bottom: 10px;
}

.party-frame {
    height: 400px;
    background-color: lightgray;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 0;
}

.loomian-frame {
    border: 2px solid black;
    margin: 10;
    padding: 10;
    width: 100px;
    height: 50px; /* Initial height */
    background-color: white;
    flex-shrink: 0; 
    overflow: hidden; /* Hide extra body content */
    transition: height 0.3s ease; /* Smooth height change */
}

.loomian-frame.open {
    height: 250px; /* Expanded height */
}

.body {
    padding: 10px;
}


.scroll-frame {
    width: 100%;
    
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    padding: 10px;
}